
.iconoface {
  height: 35px;
  width: 35px;
} 

.iconocomer {
  padding-left: 10px;
  height: 170px;
  width: 170px;
}

.iconotitulo {
  padding-left: 150px;
  height: 180px;
  width: 550px;
}

.iconorest {
  display:block;
  max-width:100%;
  height:auto;
}

.texto {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 120px;
}

.mapa {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 120px;
}

.mapaIframe {
  height: 280px;
  width: 450px;
}


.fieldset {
  padding-left: 20px;
}

th {
  padding-right: 10px;
  padding-left: 10px;
}

td {
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 680px) and (max-width: 767px) {
  .iconotitulo {
    padding-left: 150px;
    height: 80px;
    width: 450px;
  }
}

@media (min-width: 550px) and (max-width: 679px) {
  .iconotitulo {
    padding-left: 50px;
    height: 80px;
    width: 450px;
  }
}

@media (min-width: 470px) and (max-width: 549px) {
  .iconotitulo {
    padding-left: 30px;
    height: 80px;
    width: 450px;
  }

  .mapa {
    padding-top: 20px;
  }   

  .mapaIframe {
    height: 300px;
    width: 340px;
  }   
}

button.navbar-toggler {
  z-index: 50000;
  }

@media (min-width: 375px) and (max-width: 469px) {
  .iconotitulo {
    padding-left: 10px;
    height: 80px;
    width: 330px;
  }

  .mapa {
    padding-left: 5px;
  } 
  
  .mapaIframe {
    height: 300px;
    width: 350px;
  }    
}

@media (min-width: 362px) and (max-width: 374px) {
  .iconotitulo {
    padding-left: 10px;
    height: 80px;
    width: 330px;
  }

  .mapa {
    padding-left: 15px;
  } 
  
  .mapaIframe {
    height: 300px;
    width: 340px;
  }    
}

@media (max-width: 361px) {
  .iconotitulo {
    padding-left: 10px;
    height: 80px;
    width: 330px;
  }

  .mapa {
    padding-left: 5px;
  } 
  
  .mapaIframe {
    height: 300px;
    width: 320px;
  }    
}